.img {
width: 60%;
    height: 500px;
    background: url("image/girls.jpg") no-repeat  ;
    text-align: center;
    background-size: 100%;
    margin-left: 260px;
}

.style_main {
    margin-top:70px;
    height: 5em;
    position: relative

}
.style_form {
    position: absolute;
    top: 70%;
    left: 40%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}
hr {
    border: none;
    background-color:#757575;
    color: #757575;
    height: 1px;
}
* { box-sizing: border-box; }
body {
    margin: 0;

}

header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    color: black;
    background: thistle;
}
.text {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
  font-weight: bold;
    color: darkmagenta;

}



nav {
    display: table;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    padding: 15px 30px;
    text-decoration: none;
}
.topmenu li a:hover { color: deeppink;
   }

.submenu {

    position: absolute;
    left: 30px;
    top: 70%;
    z-index: 5;
    width: 180px;
    opacity: 0;

}
.submenu a {
    color: darkslategrey;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    text-decoration: none;
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}