* {
    padding: 0;
    margin: 0;
}
section {
    /*position: static;*/
    /*  width: 150px;*/
    position: fixed;
    top: 10%;
    left: 10%;

    /*transform: translate(-50%, -50%);*/
}
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    /*max-width: 200px;*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*font-family: sans-serif;*/


    float: left;
    display: block;
    width: 200px;
    border: 1px solid blue;
    margin: 2px;
}
img {

    width: 100%;

}
h3 {
    color: lightseagreen;
}
p {
    padding: 4px;
    font-size: 14px;
    color: black;
}
.price {
    color: #d32f2f;
    font-size: 18px;
}
.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color:blue;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}