<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Main page</title>

    <meta name="description" content="My Store"/>

    <link rel="stylesheet" href="main1.css">
    <link rel="stylesheet" href="main2.css">
    <link rel="stylesheet" href="main3.css">


</head>
<body class="m_style">

<div id="m_wrapper">
    <div id="header" class="m1_container">
        <div class="grid_12">
            <a id="site_logo" th:href="@{/}">Fasion</a>

            <div id="system_navigation" class="s_nav">
                <ul class="s_list_1 ">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/login}">Enter</a></li>
                    <li><a th:href="@{/register}">Registration</a></li>
                    <li><a th:href="@{/basket}">Shopping Cart</a></li>


                </ul>
            </div>


            <div id="categories" class="s_nav">
                <ul>

                    <li><a href="">Women</a>
                        <div class="s_submenu">

                            <ul class="s_list_1 clearfix">
                                <li><a th:href="@{/dresses}">Dresses</a></li>
                                <li><a th:href="@{/skirts}">Skirts</a></li>

                            </ul>
                            <span class="clear border_eee"></span>

                        </div>
                    </li>
                    <li><a>Men</a>
                        <div class="s_submenu">

                            <ul class="s_list_1 clearfix">
                                <li><a th:href="@{/costumes}">Costumes</a></li>
                                <li><a th:href="@{/shirts}">Shirts</a></li>
                            </ul>


                        </div>
                    </li>
                    <li><a>Kids</a>
                        <div class="s_submenu">
                            <ul class="s_list_1 clearfix">
                                <li><a th:href="@{/shoes}">Shoes</a></li>

                            </ul>

                        </div>
                    </li>
                    <li><a>Accessories</a>
                        <div class="s_submenu">
                            <ul class="s_list_1 clearfix">
                                <li><a th:href="@{/glasses}">Glasses</a></li>
                                <li><a th:href="@{/bags}">Bags</a></li>
                            </ul>
                        </div>

                </ul>
            </div>


        </div>
    </div>

    <div id="content" class="m1_">

        <!--      Текст добро пожаловать в магазин     -->
        <div id="welcome" class="grid_12">
            <h2><span class="s_main_color">Welcome for the perfect style</span></h2>
            <p> Теперь купить одежду модных брендов через интернет стало проще! В Beauty fashion вы найдете десятки
                стильных предметов гардероба для женщин и мужчин.
                В нашем каталоге - множество моделей последних коллекций BULMER, LABBRA.
                Куртки, пальто, платья, брюки, юбки - вы обязательно подберете подходящий вариант для любого сезона. Наш
                интернет-магазин модной одежды поддерживает высокие корпоративные стандарты: вы получите консультацию,
                сможете воспользоваться помощью специалистов, примерить одежду при заказе в Минске, также мы высылаем
                заказы в регионы через РУП Белпочта, Европочта.</p>

        </div>


        <div class="clear"></div>


        <div id="banners_1">
            <div class="grid_3">
                <a target="_blank">
                    <img src="image/44.jpg">
                </a>
                <form action="#" method="get" th:action="@{/dresses}">
                    <button style="margin-top: 10px; margin-left:50px" > Женщинам</button>
                </form>

            </div>
            <div class="grid_3">
                <a target="_blank">
                    <img src="image/33.jpg">
                    <form action="#" method="get" th:action="@{/costumes}">
                        <button style="margin-top: 10px; margin-left:50px" > Мужчинам</button>
                    </form>
                </a>
            </div>
            <div class="grid_3">
                <a target="_blank">
                    <img src="image/22.jpg">
                </a>
                <form action="#" method="get" th:action="@{/shoes}">
                    <button style="margin-top: 10px; margin-left:50px" > Детям</button>
                </form>
            </div>
            <div class="grid_3">
                <a href="
" target="_blank">
                    <img src="image/11.jpg">
                </a>
                <form action="#" method="get" th:action="@{/bags}">
                    <button style="margin-top: 10px; margin-left:50px" > Аксессуары</button>
                </form>
            </div>


            <div class="clear"></div>
        </div>


        <div id="latest_home" class="grid_12">

            <div class="clear">

            </div>
            <div class="s_listing s_grid_view clearfix">


                <div class="clear"></div>
            </div>
        </div>

    </div>

    <div id="footer" class="m1_">
        <div id="footer_categories" class="clearfix">


            <div class="clear"></div>
            <div class="grid_12 border_eee"></div>
        </div>

        <p id="copy">&copy; Beauty Fassion </p>
    </div>
    <!-- end of FOOTER -->

</div>


</body>
</html>
